# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# IDE
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/

# Windows / macOS
*.log
*.tmp
.DS_Store
Thumbs.db
